<div class="sidenav">
    <a class="nav-link" href="{{ url_for('registro') }}">Cadastrar Cliente</a>
    <a class="nav-link" href="{{ url_for('registrar_funcionario') }}">Cadastrar Funcionário</a>
    <a class="nav-link" href="{{ url_for('registrar_servico') }}">Cadastrar Serviço</a>
    <a class="nav-link" href="{{ url_for('pesquisar_cliente') }}">Pesquisar Cliente</a>
    <a class="nav-link" href="{{ url_for('pesquisar_funcionario') }}">Pesquisar Funcionário</a>
    <a class="nav-link" href="{{ url_for('pesquisar_servico') }}">Pesquisar Serviço</a>
    <a class="nav-link" href="{{ url_for('criar_agendamento') }}">Novo agendamento</a>
    <a class="nav-link" href="{{ url_for('agendamentos') }}">Agenda</a>
    <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
  </div>